@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Noto+Sans:wght@400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:wght@300;400&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Noto+Sans:wght@400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:wght@300;400&family=Roboto:wght@500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    --gray: #292F36;
    --cyan: #12F7D6;
    --cyan2: #98FAEC;
    --orange: #E54F26;
    --blue: #0C73B8;
    --yellow: #E7A020;
    --blue2: #28A9E0;
    --orange2: #EF4823; 
    --red: #DD0031;
    --white: #fff;
    --gray2: #43454D;
    --dark: #1A1E23;
}

@mixin circle ($width,$height,$color){
    width: $width;
    height: $height;
    background-color: $color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}