
h3,pre{
    color: var(--white);
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    pre{
        font-size: 32px;
        line-height: 42px;
    }
}
h3{
    flex: 1;
}

.hdr-rt{
    background-color: #292F36;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
   
    
}



.hdr-cntr{
    width: 100%;
    border-bottom: 1px solid var(--gray2);
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 64px 0 ;
    transition: padding 0.3s ease-out;
    &.sticky{
        transition: padding 0.3s ease-in;
        padding: 30px 0 ;
    }
}

.hdr-wrp{
    max-width: 1820px;
    width: 100%;
    margin: 0 auto; 
    padding: 0 8em;
}

.nav-blk{
    display: flex;
    align-items: center;
    span{
        color: var(--cyan);
        //margin: 0 16px 0 0;
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        
    }
    .lng{
        display: block;
        cursor: pointer;
        color: var(--cyan);
        transition: color 0.3s ease-in;
        font-weight: 600;
        &:hover{
           transition: color 0.3s ease-out;
           color: #d8f7f2;
        }
    }
}

.html-tag{
    display: inline-block;
    margin: 0 8px 0 0;
}

.lng-blk{
    position: relative;
    
    span{
       display: block;
       color: var(--cyan);
       font-weight: 600;
       font-size: 20px;
       line-height: 25px;
       padding: 5px 14px;
       background: none;
       transition: background 0.2s ease-out, border-radius 0.2s ease-out;
       cursor: pointer;
       border-radius: 10px;
       user-select: none;
       &:hover{
          background: var(--dark2);
          transition: background 0.2s ease-in;
       }
    }
    &.active{
        .lng-itm{
            background: var(--dark2);
            transition: background 0.2s ease-in, border-radius 0.2s ease-in;
            border-radius: 10px 10px 0 0;
        }
        .lng-mn{
            height: 95px;
            
            transition: all 0.2s ease-in;
        }
      
    }
}

.lng-mn{
    height: 0;
    background-color: var(--dark2);
    position: absolute;
    width: 52px;
    top: 30px;
    left: 0px;
    border-radius: 0 0 10px 10px;
    transition: all 0.2s ease-out;
    span{
        border-radius: 10px;
        font-size: 20px;
        line-height: 25px;
        padding: 5px 10px;
        margin: 10px 4px 0;
        &:hover{
            background: var(--dark);
            transition: background 0.2s ease-in;
        }
    }
    overflow-y: hidden;
    transition: height 0.2s ease-out;
}