@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Noto+Sans:wght@400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:wght@300;400&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Noto+Sans:wght@400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:wght@300;400&family=Roboto:wght@500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.btn {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 236px;
  width: 100%;
  padding: 16px 0;
  border-radius: 32px;
  margin: 36px 0 0;
  cursor: pointer;
  color: var(--gray);
  transition: background 0.3s ease-in, color 0.3s ease-in, fill 0.3s ease-in;
}
.btn span {
  font-size: 20px;
  line-height: 24px;
  font-family: Ubuntu, sans-serif;
}
.btn svg {
  margin: 0 0 0 18px;
}
.btn svg path {
  fill: var(--gray);
}
.btn:hover {
  background: #696969;
  color: var(--white);
  transition: background 0.3s ease-out, color 0.3s ease-out, fill 0.3s ease-out;
}
.btn:hover svg path {
  fill: var(--white);
}

* {
  --gray: #292F36;
  --cyan: #12F7D6;
  --cyan2: #98FAEC;
  --orange: #E54F26;
  --blue: #0C73B8;
  --yellow: #E7A020;
  --blue2: #28A9E0;
  --orange2: #EF4823;
  --red: #DD0031;
  --white: #fff;
  --gray2: #43454D;
  --dark: #1A1E23;
  --blue3: #1976D2;
}

pre {
  color: var(--cyan);
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

i {
  line-height: 0;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 2 */
  font-size: 10px;
  background-color: #f4f4f4;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  position: relative;
  font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  text-decoration: none;
  background-color: transparent;
}
a:focus {
  outline: 0;
}

a:active,
a:hover,
a:focus {
  outline-width: 0;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.html-tag {
  color: var(--cyan);
  padding: 0;
  margin: 0;
}

.bnr-rt {
  background-color: var(--gray);
}
.bnr-rt .txt-blk {
  margin: -24px 69px 0 128px;
}
.bnr-rt .txt-blk h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 64px;
  line-height: 72px;
  color: var(--white);
  padding: 0 0 0 20px;
  font-weight: 400;
}
.bnr-rt .txt-blk h1 span {
  color: var(--cyan);
}
.bnr-rt .txt-blk h1 pre {
  display: inline-block;
}

.bnr-wrpr {
  max-width: 1792px;
  padding: 60px 8em 128px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prf-cntr {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 24px 0 28px;
}

h2 {
  text-align: center;
  font-size: 117px;
  font-weight: 400;
  line-height: 134px;
  color: var(--cyan2);
}

.info {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 32px;
}
.info h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  color: var(--white);
  margin: 16px 0 0;
}
.info span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.contact svg {
  margin: 0 10px 0 0;
}
.contact p, .contact a {
  display: block;
  color: var(--white);
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 16px;
}

.topics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.topics span {
  background-color: var(--cyan);
  padding: 0 8px;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
  border-radius: 8px;
}

.mdl {
  background-color: var(--dark);
  padding: 48px 32px 0;
  border-radius: 80px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 215px;
  width: 100%;
}

.mdl-itm {
  display: flex;
  align-items: center;
  margin: 0 0 48px;
}
.mdl-itm span {
  font-size: 48px;
  line-height: 62px;
  color: var(--cyan);
  margin: 0 16px 0 0;
}
.mdl-itm p {
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.abt-rt {
  background-image: url("../assets/img/bg_2x.png");
  background-repeat: no-repeat;
}

.abt-wrp {
  max-width: 1792px;
  width: 100%;
  padding: 128px 128px 256px;
  margin: 0 auto;
}
.abt-wrp h3 {
  font-family: Ubuntu, sans-serif;
  font-size: 64px;
  line-height: 72px;
  background-color: var(--gray);
  width: -moz-max-content;
  width: max-content;
  padding: 12px 40px;
  border-radius: 40px 0 40px;
  border: 4px solid var(--cyan);
  font-weight: 400;
  margin: 0 0 64px;
}

.abt-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-cntr .img {
  display: inline-flex;
}
.abt-cntr .img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.scrl-blk {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.scrl-blk .ms-strk {
  animation: slide 2s ease-in-out infinite;
}

.strk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  margin: 16px 0 0;
  z-index: 0;
}
.strk span {
  display: block;
  width: 2px;
  height: 10px;
  background: var(--white);
  margin: 0 0 10px;
}
.strk span:last-child {
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.txt-blk {
  margin: 48px 128px 48px 0;
}

.txt-box {
  background-color: var(--gray);
  border-radius: 40px;
  padding: 24px 40px 24px;
  max-width: 880px;
  width: 100%;
}
.txt-box p {
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  margin: 16px 0;
}
.txt-box span {
  color: var(--cyan);
}
.txt-box .head {
  display: block;
  font-size: 32px;
  line-height: 42px;
}

.skl-rt {
  background: var(--gray);
}
.skl-rt h3 {
  text-align: center;
  color: var(--cyan);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
}
.skl-rt h3 span {
  position: relative;
  display: block;
  margin: 16px auto 0;
  border-bottom: 2px solid var(--cyan);
  width: 148px;
}
.skl-rt h3 span::before, .skl-rt h3 span:after {
  position: absolute;
  content: "";
  top: -4px;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--cyan);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skl-rt h3 span::before {
  left: 0;
}
.skl-rt h3 span::after {
  right: 0;
}
.skl-rt p {
  text-align: center;
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 0;
}

.skl-wrpr {
  width: 100%;
  padding: 128px;
  position: relative;
}

.tag {
  position: absolute;
  top: 128px;
  right: 315px;
}
.tag pre {
  font-size: 168px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.cd-itm {
  margin: 64px auto 0;
  padding: 16px 24px;
  background: var(--cyan2);
  text-align: center;
  max-width: 384px;
  width: 100%;
  border-left: 8px solid var(--blue);
  border-radius: 8px;
}
.cd-itm span {
  display: block;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray);
  margin: 6px 0 0;
}
.cd-itm p {
  font-size: 16px;
  line-height: 20px;
  color: var(--gray);
  margin: 8px 0 0;
}

.crl-cntr {
  max-width: 960px;
  width: 100%;
  margin: 90px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 128px;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.crl-blk {
  max-width: 144px;
  width: 100%;
}
.crl-blk .crl {
  width: 144px;
  min-width: 144px;
  height: 144px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crl-blk p {
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
}
.crl-blk.HTML .crl {
  background-color: var(--orange);
}
.crl-blk.HTML p {
  color: var(--orange);
}
.crl-blk.CSS .crl {
  background-color: var(--blue);
}
.crl-blk.CSS p {
  color: var(--blue);
}
.crl-blk.JS .crl {
  background-color: var(--yellow);
}
.crl-blk.JS p {
  color: var(--yellow);
}
.crl-blk.TS .crl {
  background-color: var(--blue3);
}
.crl-blk.TS p {
  color: var(--blue3);
}
.crl-blk.react .crl {
  background-color: var(--blue2);
}
.crl-blk.react p {
  color: var(--blue2);
}
.crl-blk.svelte .crl {
  background-color: var(--orange2);
}
.crl-blk.svelte p {
  color: var(--orange2);
}
.crl-blk.angular .crl {
  background-color: var(--white);
}
.crl-blk.angular p {
  color: var(--red);
}

.wrk-rt {
  background-image: url("../assets/img/works.png");
}
.wrk-rt h3 {
  text-align: center;
  color: var(--cyan);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  padding: 128px 128px 0;
}
.wrk-rt h3 span {
  position: relative;
  display: block;
  margin: 16px auto 0;
  border-bottom: 2px solid var(--cyan);
  width: 183px;
}
.wrk-rt h3 span::before, .wrk-rt h3 span:after {
  position: absolute;
  content: "";
  top: -4px;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-color: var(--cyan);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrk-rt h3 span::before {
  left: 0;
}
.wrk-rt h3 span::after {
  right: 0;
}
.wrk-rt p {
  text-align: center;
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0 0;
  padding: 0 128px 0;
}
.wrk-rt .btn {
  width: 72px;
  min-width: 72px;
  height: 72px;
  background-color: var(--gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: box-shadow 0.3s ease-in, background 0.3s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wrk-rt .btn svg {
  margin: 0;
}
.wrk-rt .btn svg path {
  fill: var(--white);
}
.wrk-rt .btn:hover {
  color: var(--dark);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  background: #3b3b3b;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
}
.wrk-rt .btn.left {
  margin: 64px 64px 0 0;
}
.wrk-rt .btn.right {
  margin: 64px 0 0 64px;
}

.sld-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 128px 128px;
}

.sld-cntr {
  display: inline-block;
  overflow: hidden;
  margin: 64px 0 0;
  max-width: 655px;
  width: 100%;
}

.sld-blk {
  display: flex;
  transition: transform 0.3s ease;
}
.sld-blk a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 24px;
  line-height: 42px;
  color: var(--cyan);
  width: 100%;
  border-bottom: 2px solid var(--gray2);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 26px;
  transition: border-bottom 0.3s ease-in;
}
.sld-blk a:hover {
  border-bottom: 2px solid var(--white);
  transition: border-bottom 0.3s ease-out;
}
.sld-blk img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.sld-itm {
  min-width: 655px;
  max-width: 655px;
  width: 100%;
  margin: 0 24px 0 0;
}

h3 {
  color: var(--white);
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
}
h3 pre {
  font-size: 32px;
  line-height: 42px;
}

.hdr-rt {
  background-color: #292F36;
}

.hdr-cntr {
  width: 100%;
  border-bottom: 1px solid var(--gray2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 64px;
}

.hdr-wrp {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 8em 0;
}

.nav-blk {
  display: flex;
  align-items: center;
}
.nav-blk span {
  color: var(--cyan);
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}
.nav-blk .lng {
  display: block;
  cursor: pointer;
  color: var(--cyan);
  transition: color 0.3s ease-in;
  font-weight: 600;
}
.nav-blk .lng:hover {
  transition: color 0.3s ease-out;
  color: #d8f7f2;
}

.html-tag {
  display: inline-block;
  margin: 0 8px 0 0;
}

.ftr-rt {
  background-color: var(--gray);
  border-top: 1px solid var(--gray2);
}

.ftr-wrp {
  padding: 16px 0;
}

.scm-blk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.scm-itm {
  cursor: pointer;
  width: 32px;
  min-width: 32px;
  height: 32px;
  background-color: var(--cyan2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in;
}
.scm-itm:hover {
  transition: background 0.3s ease-out;
  background: var(--white);
}/*# sourceMappingURL=style.css.map */